---
interface Props {
  title: string;
}
const { title } = Astro.props;
import { getCollection } from "astro:content";
import GalleryCard from "./product-gallery/gallery-card.astro";
const productsData = await getCollection("products");
const products = productsData.map((item) => item.data);
---

<section class="m-10 bg-slate-900 rounded-xl text-white p-8">
  <h2 class="text-4xl">{title}</h2>
  <div class="flex">
    {products.map((product) => <GalleryCard product={product} />)}
  </div>
</section>
<style></style>
