---
interface Props {
  product: {
    name: string;
    description: string;
    price: string;
    id: string;
    imageSrc: string;
  };
}

const { product } = Astro.props;
---

<article class="m-2 p-2">
  <h3>{product.name}</h3>
</article>
