---
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import ProductGallery from "../components/product-gallery.astro";
---

<Layout>
  <main>
    <h1>Hello World</h1>
    <ProductGallery title="Product Gallery" />
  </main>
</Layout>

<script>
  const title = document.querySelector<HTMLHeadingElement>(".hello-world")!;
  fetch("http://localhost:5041/api/Hello")
    .then((response) => response.text())
    .then((text) => console.log(text))
    .catch(() => console.error("Backend is either down or unavailable"));
</script>

<script>
  fetch("http://localhost:5264/api/vi/Hello")
    .then((result) => result.text())
    .then((text) =>
      console.log(
        `%c ${text} `,
        "color:green;",
        "Looks like the backend is available"
      )
    )
    .catch(() => console.error("Backend is either down or unavailable"));
</script>
