---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="hello-world">Loading</h2>
  <Welcome />
</Layout>

<script>
  fetch("http://localhost:5264/api/vi/Hello")
    .then((result) => result.text())
    .then((text) =>
      console.log(
        `%c ${text} `,
        "color:green;",
        "Looks like the backend is available"
      )
    )
    .catch(() => console.error("Backend is either down or unavailable"));
</script>
